.form__field {
    border: 2px solid #606060;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    max-width: 333px;
    border-radius:12px;
}
.form__button {
    border: 2px solid #606060;
    padding: 15px;
    font-size: 25px;
    width: 100%;
    max-width: 367px;
    border-radius:12px;
    margin-top: 30px;
    background-color: hsl(231, 98%, 70%);
}
.form__button:hover {
    background-color: hsl(231, 98%, 65%);
    transition: 0.5s;
}
.form__button:active {
    background-color: hsl(231, 98%, 60%);
    transition: 0.5s;
}
.form__text {
    font-size: 20px;
}
.header__content {
    text-align: center;
}